@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

#__next {
  @apply bg-white;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

/* Linkbox */

a.cover:before {
  @apply h-full w-full absolute block inset-0;

  content: "";
}

/* Prose Styles */
.prose .anchor {
  @apply absolute invisible no-underline w-full;

  margin-left: -1em;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:after {
  @apply text-gray-300;

  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

/* Codeblock Styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-500;
}

.token.punctuation {
  @apply text-gray-500;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-500;
}
